.layout-aside {
    width: 21vw;
    height: 100vh;
    background-color: rgba(248, 249, 251, 100);

}

.layout-header {
    height: 11vh;
    background-color: #e7e7e7;
}

.side-background {
    height: 50vh;
    background-color: #383a45;
    background-image: linear-gradient(135deg, #4f5261 0%, #383a45 50%);
    display: flex;
    justify-content: center;
    align-content: center;
}
