.app-main {
    height: auto;
    width: 100%;
    display: flex;
    align-items: stretch;
}

.layout-aside {
    width: 21vw;
    height: 100vh;
    background-color: rgba(248, 249, 251, 100);

}

.layout-header {
    position: relative;
    height: 11vh;
    background-color: #e7e7e7;
}

.side-background {
    height: 40vh;
    padding-top: 10vh;
    background-color: #383a45;
    background-image: linear-gradient(135deg, #4f5261 0%, #383a45 50%);
    display: flex;
    justify-content: center;
    align-content: center;
}

.full-container {
    display: flex;
    width: 100%;
    justify-content: space-around;
    align-content: center;
    align-items: stretch;
    overflow: hidden;
}

.main-container {
    width: 76%;
    height: 100%;
}

.right-container {
    width: 24%;
    height: 100%;
    border-left: 2px solid #e7e7e7;
}
